/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #ffc0cb;
  align-items: center;
}

header, nav {
  font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}

.menu-group-list {
  margin-right: auto;
}

.global-header-link-container {
  transform: translateY(0);
}

.global-header-link {
  position: relative;
}

.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover{
  background-color: #8BC34A;
}

table th,table td{
  text-align: center;
  width: 10%;
  padding: 10px 0;
}